.divcontainer {
    background-color: #020617;
    background-size: cover;
    display: flex;
    width: 100vw;
    margin-top: 10rem;
    color: white;


}
.divHero {
  display: column;
  align-items: center;
  width: 100vw;
  height: 50vh;
  padding-left: 14rem;
  background-color: #020617;
  color: #e5e7eb;
}

.Contact {
  cursor: pointer;
  color:  #7dd3fc;
  transition: color 0.2s ease;
  font-weight: 500;
}

.Contact:hover {
  color: #7dd3fc;
  text-decoration: underline;
}




.divHero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.divHero h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #38bdf8;
  margin-bottom: 1.5rem;
}

.divHero p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}



.image{
    display: flex;
    width: 600px;
    height: 400px;    
    right: 4rem;
    margin-right: 5rem;
    position: inherit;    
    border:2px solid rgb(255, 255, 255, 0.7);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.image img{    
    filter: drop-shadow(8px 0px 8px rgba(0,0,0,0.4));
    width: 75%;
    height:75%;
}


.divmayor {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.loadingContainer p{
    text-align: center;
    text-decoration:solid;
    font-size: 24px;
}

.loadingSpinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #f5f5f5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-device-width: 768px) and (orientation: portrait){
    .divcontainer {
        flex-direction: column;
        margin-top: 5rem;
    }
    .divHero {
        height: 100vh;
    }
    .divmayor{
        width: 100vw;
    }

    .image {
        visibility: hidden;
    }

 

}